h1{
    font-style: oblique;
    text-align: center;

}.topo{
     background-color: black;
     text-align: center;
     padding :20px;
     margin: 30px;
     background-size: cover;
     background-position: center;
     font-family: Impact, 'Haettenschweiler', 'Arial Narrow ', sans-serif;
    }.cabecalho a {
        
     padding: 10px;

}.aa{
    color: rgb(255, 255, 255);
}body{
    background-color: #FDF5E6;
}img{
    float: left;
    width: 70px;
    height: 70px;

}footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}p{
    color: rgb(255, 255, 255);
}