h1{
    font-style: oblique;
    text-align: center;

}
.logo{
    float: left;
    padding-left: 20px;
    height: 140px; 
    padding-bottom: 0px;
    }.cabecalho a {
        
     padding: 10px;

}.aa{
    color: rgb(255, 255, 255);
}body{
    background-color: #FDF5E6;
}img{
    float: left;
    width: 70px;
    height: 70px;

}footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
}p{
    color: rgb(255, 255, 255);
}