h1,h4,h3,h2,h6,h5{
    font-style: oblique;
    text-align: center;
    font-size: large;
}
    .ii{
        float: left;
        padding-right: 15px;
        
    }.iii{
        float: left;
        padding: left 15px;

    }.iiii{
        float: right;
        padding-left: 20px ;
    }.hino{
        text-align: center;
    }

       