h1{
    font-style: oblique;
    text-align: center; 

}.p1{
    float: left;
    border: 1px;
    margin: 80px;
}.p2{
    float: left;
    border: 1px;
    margin: 80px;
}.p3{
    float: left;
    border: 1px;
    margin: 80px;
}.p4{
    float: left;
    border: 1px;
    margin: 80px;
}.p5{
    float: left;
    border: 1px;
    margin: 80px;
}.p6{
    float: left;
    border: 1px;
    margin: 80px;
}.p7{
    float: left;
    border: 1px;
    margin: 80px;
}.bloco{
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
}.bloco2{
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 10%;
}.bloco3{
    align-items: center;
    padding-left: 39%;
    padding-right: 39%;
}.bloco .bloco2 .bloco3{
    display: flex;
    height: 5px; 
    
}.p1 .p2 .p3 .p4 .p5 .p6 .p7{
    transition: margin 0.2s ease-in-out;

}.p1 .p2 .p3 .p4 .p5 .p6 .p7 :hover{
    margin-top: -2;
}