header{
    background-color: black;
    text-align: center;
    padding :20px;
    margin: 30px;
    margin-left: 10%;
    background-size: cover;
    background-position: center;
    font-family: Impact, 'Haettenschweiler', 'Arial Narrow ', sans-serif;
    text-decoration: none;
      
  }.cabecalho a{
    padding: 15px;
  
}.logo{
    float: left;
    padding-left: 1%;
    height: 140px; 
    padding-bottom: 0px;

}.cabecalho a {
    text-decoration: none;
    padding: 10px;

}.cabecalhos a:hover {
        text-decoration: none;
        padding: 10px;
        background-color: whitesmoke;
        border-radius: 5px;
        
    }.corvo{
        color: #029dc0;
        text-decoration: none;
    }.leao{
        color: #a10a13;

    }.carinha{
        color: #caa501;
        
    }.sarah{
        color:#064b02 ;
        
    }.aa {
        color: burlywood;
        text-decoration: none;
    }.a{
        color: rgb(255, 255, 255);
        text-decoration: none;
}footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    clear: both;
}button a{ 
    color:white ;
    text-decoration: none;
}button{
    background-color: black;
    float: right;
    text-decoration: none;
}body{
    background-color: #FDF5E6;
    font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
    font-size: medium; 
}