    h1{
        font-style: oblique;
        text-align: center;

    }header{
        background-color: black;
        text-align: center;
         padding :20%;
         margin: 30%;
         margin-left: 10%;
         background-size: cover;
         background-position: center;
         font-family: Impact, 'Haettenschweiler', 'Arial Narrow ', sans-serif;
         text-decoration: none;
         
    }.cabecalho a{
        padding: 20px;
      
    }.aa{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }body{
        background-color: #FDF5E6;
     
    }footer{
        background-color: black;
        color: whitesmoke;
        text-align: center;
        padding: 10px;
    }button a{ 
        color:white ;
        text-decoration: none;
    }button{
        background-color: black;
        float: right;
        text-decoration: none;
    }.tx{
        margin-left: 10px;
    }.logo{
        float: left;
        padding-left: 1%;
        height: 140px; 
        padding-bottom: 0px;
    
    }.car{
        font-size: large;
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    }.dirt{
        font-style: oblique;
        text-align: center;
        text-align: center;
    }.diretor{
        float: left;
        padding-left: 20px;
        height: 100px;
        padding-right: 10px;
    }.diretor2{
        float: right;
        padding-left: 20px;
        height: 110px;
        padding-right: 10px;  
    }.logotipo{
        padding-bottom: 9px;
       
    }