    h1{
        font-style: oblique;
        text-align: center;

    }button a{ 
        color:white ;
        text-decoration: none;
    }button{
        background-color: black;
        float: right;
        text-decoration: none;
    }.tx{
        margin-left: 10px;
    }.car{
        font-size: large;
        font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    }.dirt{
        font-style: oblique;
        text-align: center;
        text-align: center;
    }.diretor{
        float: left;
        padding-left: 20px;
        height: 100px;
        padding-right: 10px;
    }.diretor2{
        float: right;
        padding-left: 20px;
        height: 110px;
        padding-right: 10px;  
    }