img{
    float: left;
    padding-left: 20px;
    height: 210px;
    padding-right: 10px;
}.foto2{
    float: right;
    padding-left: 20px;
    height: 210px;
    padding-right: 10px;
}.figura {
    float: right;
    width: 400px;
    margin: 10px;
}.figura p {
    max-width: fit-content;
}img.escala {
    width: 70%;
}header{
  background-color: black;
  text-align: center;
  padding :20px;
  margin: 30px;
  margin-left: 10%;
  background-size: cover;
  background-position: center;
  font-family: Impact, 'Haettenschweiler', 'Arial Narrow ', sans-serif;
  text-decoration: none;
    
}