h1,h4,h3,h2,h6,h5{
    font-style: oblique;
    text-align: center;
    font-size: large;
}.topo{
    background-color: black;
    text-align: center;
     padding :20px;
     margin: 30px;
     background-size: cover;
     background-position: center;
     font-family: Impact, 'Haettenschweiler', 'Arial Narrow ', sans-serif;
     text-decoration: none;
    }.cabecalho a {
        text-decoration: none;
        padding: 10px;
    }.corvo{
        color: #006c84;
        text-decoration: none;
    }.leao{
        color: #a10a13;
        text-decoration: none;
    }.carinha{
        color: #caa501;
        text-decoration: none;
    }.sarah{
        color:#064b02 ;
        text-decoration: none;
    }.ii{
        float: left;
        padding-right: 15px;
        
    }body{
        background-color: #FDF5E6;
        font-family: "Cambria", "Cochin", Georgia, Times, 'Times New Roman', serif;
        font-size: medium; 
    }footer{
        background-color: black;
        color: whitesmoke;
        text-align: center;
    }.aa{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
